{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block titlehead %}{% trans 'Contraseña restablecida' %}{% endblock titlehead %}

{% block styles %}
    {{ block.super }}
    {% include '_style_css_login.html' %}
{% endblock styles %}

{% block header %}
{% endblock header %}

{% block nucleocentral %}
{% endblock nucleocentral %}

{% block contentlogin %}
    <div class="logo">
        <img src="{% static 'images/logo-diagram.png' %}" height="40%" width="40%">
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="jumbotron">
                    {% include '_logo_siibase.html' %}
                    <br>
                    <h2>{% trans 'Su contraseña ha sido correctamente restablecida' %}</h2>
                    <br>
                    <h3>
                        <a href="{% url 'login' %}">{% trans 'Login' %} SIIBASE</a>
                    </h3>
                </div>

            </div>
        </div>
    </div>
{% endblock contentlogin %}
