{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block titlehead %}
    {% if validlink %}
        {% trans 'Restablecer contraseña' %}
    {% else %}
        {% trans 'Página no válida' %}
    {% endif %}
{% endblock titlehead %}

{% block styles %}
    {{ block.super }}
    {% include '_style_css_login.html' %}
{% endblock styles %}

{% block header %}
{% endblock header %}

{% block nucleocentral %}
{% endblock nucleocentral %}

{% block contentlogin %}
    <div class="logo">
        <img src="{% static 'images/logo-diagram.png' %}" height="40%" width="40%">
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            {% if validlink %}
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="well">
                        <br>
                        {% include '_logo_siibase.html' %}
                        <br>
                        <div class="row">
                            {% if form.errors %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger">
                                         <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <form action="{{ request.path }}" method="post">
                            {% csrf_token %}

                            <h4>
                                {% trans 'Por favor introduzca una nueva contraseña' %}
                            </h4>

                            {% for field in form %}
                            {{ field.errors }}
                            <div class="form-group">
                                <label class="control-label" for={{field.auto_id}}>{{ field.label }}</label>
                                <input type="password" id="{{field.auto_id}}" name="{{field.name}}" class="form-control">
                            </div>
                            {% endfor %}

                            <button class="btn btn-lg btn-primary btn-block"
                                    type="submit" id="submitButton"
                                    style="margin-top: 10px">{% trans 'Cambiar Contraseña' %}
                            </button>
                        </form>
                    </div>
                </div>
            {% else %}
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="jumbotron">
                        <br>
                        {% include '_logo_siibase.html' %}
                        <br>

                        <h2>{% trans 'Esta página web ya no es valida' %}.</h2>
                        <p class="lead">
                            {% trans 'Si ha olvidado el password y quiere restablecerlo por favor pulse' %}
                            <a href="{% url 'pw_reset_start' %}">{% trans 'aquí' %}</a>
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock contentlogin %}
