{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block titlehead %}{% trans 'Restablecer contraseña' %}{% endblock titlehead %}

{% block styles %}
    {{ block.super }}
    {% include '_style_css_login.html' %}
{% endblock styles %}

{% block header %}
{% endblock header %}

{% block nucleocentral %}
{% endblock nucleocentral %}

{% block contentlogin %}
    <div class="logo">
        <img src="{% static 'images/logo-diagram.png' %}" height="40%" width="40%">
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="jumbotron">
                    {% include '_logo_siibase.html' %}
                    <h2>{% trans 'Enviado correo para restablecer la contraseña' %}</h2>
                    <br>
                    <h4>Por favor, revise su buzón de correo y siga las intrucciones indicadas en el correo.</h4>
                    <h4>Muchas gracias.</h4>
                </div>

            </div>
        </div>
    </div>
{% endblock contentlogin %}



