{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block titlehead %}{% trans '¿Has olvidado la contraseña?' %}{% endblock titlehead %}

{% block styles %}
    {{ block.super }}
    {% include '_style_css_login.html' %}
{% endblock styles %}

{% block header %}
{% endblock header %}

{% block nucleocentral %}
{% endblock nucleocentral %}

{% block contentlogin %}
    <div class="logo">
        <img src="{% static 'images/logo-diagram.png' %}" height="40%" width="40%">
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <div class="well">

                    <br>
                    {% include '_logo_siibase.html' %}
                    <br>

                    <div class="row">
                        {% if form.errors %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                     <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <label class="control-label" for="email">{% trans 'Introduzca por favor el correo eléctronico con el que está registrado.' %}</label>

                    <form action="{% url 'pw_reset_start' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group has-feedback">
                            <label class="sr-only" for="id_email">{% trans 'Correo eletrónico' %}</label>
                            <input id="id_email" class="form-control" type="email" name="email" autofocus="" required="" placeholder="{% trans 'Correo electrónico' %}" cols="1">
                            <i class="glyphicon glyphicon-envelope form-control-feedback"></i>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary" type="submit" id="submitButton">
                                    {% trans 'Recordar contraseña' %}
                            </button>
                        </div>
                        <br>
                        <a class="pull-right" style="font-size: small" href="{% url 'login' %}">{% trans 'Ir al login' %}</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock contentlogin %}
