{% load static %}
{% load i18n %}
{% load funciones %}

{% if user.editor == 'summernote' %}
    <script src="{% static 'summernote-0.8.9/dist/summernote.js' %}"></script>
    <script src="{% static 'summernote-0.8.9/dist/lang/summernote-es-ES.js' %}"></script>
    <script type="text/javascript">
        $(function(){
            $('#id_editor').summernote({
                focus: true,
                tabsize: 4,
            });

            $('#id_formulario').submit(function(e) {
                var editorData = $('#id_editor').summernote('code');
                $('#id_texto').val(editorData);
            });
        });
    </script>
{% endif %}

{% if user.editor == 'ckeditor' %}
    <script src="{% static 'ckeditor5-build-decoupled-document-11.0.1/ckeditor.js' %}"></script>
    <script src="{% static 'ckeditor5-build-decoupled-document-11.0.1/translations/es.js' %}"></script>
    <script type="text/javascript">
        $(function(){
            let editor;
            DecoupledEditor
                .create( document.querySelector( '#id_editor' ), {
                        language: 'es'
                 })
                .then( editorNew => {
                    editor = editorNew;
                    const toolbarContainer = document.querySelector( '#id_editorToolbar' );

                    toolbarContainer.appendChild( editor.ui.view.toolbar.element );
                })
                .catch( error => {
                    console.error( error );
                });

            $('#id_formulario').submit(function(e) {
                var editorData = editor.getData();
                $('#id_texto').val(editorData);
            });
        });
    </script>
{% endif %}


{% if user.editor == 'froala' %}
    <script src="{% static 'froala_editor_2.8.5/js/froala_editor.min.js' %}"></script>
    <script src="{% static 'froala_editor_2.8.5/js/froala_editor.pkgd.min.js' %}"></script>
    <script src="{% static 'froala_editor_2.8.5/js/languages/es.js' %}"></script>
    <script type="text/javascript">
        $(function(){
            $('#id_editor').froalaEditor({
                language: 'es',
                theme: 'gray',
                pastePlain: true,
            });

            $('#id_formulario').submit(function(e) {
                var editorData = $('#id_editor').froalaEditor('html.get', true);
                $('#id_texto').val(editorData);
            });
        });
    </script>
{% endif %}

