{% load static %}
{% load i18n %}
{% load funciones %}

{% settings_value 'EDITOR' as EDITOR %}
{% if EDITOR == 'summernote' %}
    <script src="{% static 'summernote-0.8.9/dist/summernote.js' %}"></script>
    <script src="{% static 'summernote-0.8.9/dist/lang/summernote-es-ES.js' %}"></script>
    <script type="text/javascript">
        $(function(){
            $('#id_editor').summernote({
                focus: true,
                tabsize: 4,
            });
            $('#id_formulario').submit(function(e) {
                var editorData = $('#id_editor').summernote('code');
                $('#id_mensaje').val(editorData);
            });
        });
    </script>
{% endif %}
