{% load static %}
{% load i18n %}
{% load funciones %}

{% if user.editor == 'summernote' %}
    <link href="{% static 'editors/summernote-0.8.20/dist/summernote-bs4.min.css' %}" rel="stylesheet">
{% endif %}

{% if user.editor == 'ckeditor' %}

{% endif %}

{% if user.editor == 'froala' %}
    <link href="{% static 'editors/froala_editor_3.2.2/css/froala_editor.pkgd.min.css' %}" rel="stylesheet">
    <link href="{% static 'editors/froala_editor_3.2.2/css/froala_style.min.css' %}" rel="stylesheet">
    <link href="{% static 'editors/froala_editor_3.2.2/css/themes/gray.css' %}" rel="stylesheet">
{% endif %}

{% if user.editor == 'trumbowyg' %}
    <link href="{% static 'editors/Trumbowyg-master/dist/ui/trumbowyg.min.css' %}" rel="stylesheet">
{% endif %}
