{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load funciones %}
{% settings_value 'EDITOR' as EDITOR %}

{% block titlehead %}{% trans 'Notas' %}{% endblock titlehead %}
{% block title %}{% endblock title %}

{% block styles %}
    {{ form.media.css }}
    <link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.fd.css' %}" rel="stylesheet">
    {% include 'web/nota/_editores_css.html' %}
{% endblock styles %}

{% block breadcrumb %}
    <li><a href="{% url 'listanota' %}">Notas</a></li>
{% endblock breadcrumb %}

{% block breadcrumb_active %}
    {% trans 'Nota' %}
{% endblock breadcrumb_active %}

{% block content %}

<div class="row hidden-on-load">
    <div class="col-md-12">
        <form action="" method="post" enctype="multipart/form-data" role="form" id="id_formulario">
            {% csrf_token %}
            {{ form.texto }}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                    {% if create_view %}
                        {% trans 'Nueva Nota' %}
                    {% else %}
                        {% trans 'Modificar Nota' %}
                    {% endif %}
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form.libro.errors }}
                                <label for={{form.libro.auto_id}} class="control-label">
                                {{ form.libro.label }}
                                {% if form.libro.field.required %}<span class="required_fields">*</span>{% endif %}
                                </label>
                                {{ form.libro }}
                                {% if form.libro.help_text %}
                                <p class="help-block">{{ form.libro.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form.nombre.errors }}
                                <label for={{form.nombre.auto_id}} class="control-label">
                                {{ form.nombre.label }}
                                {% if form.nombre.field.required %}<span class="required_fields">*</span>{% endif %}
                                </label>
                                {{ form.nombre }}
                                {% if form.nombre.help_text %}
                                <p class="help-block">{{ form.nombre.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-md-9'>
                            <div id="id_editorToolbar"></div>
                            <div id='id_editor'>{{ nota.texto|default:'<p>Nuevo texto.</p>'|safe }}</div>
                        </div>
                        <div id='id_adjuntos' class='col-md-3'>
                            <div class='text-center'>
                                <button type='button' style='width:100%' id='id_btnadjuntos' class='btn btn-primary adjuntos' {% if create_view %}disabled{% endif %}>{% trans 'Adjuntos' %}</button>
                            </div>
                            <div id='id_lista_adjuntos'>{{ adjunto_html|safe }}</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary btn-normal">
                        <i class="fa fw fa-floppy-o"></i> {% trans 'Guardar' %}
                    </button>
                    <a class="btn btn-default btn-normal" href="{% url 'listanota' %}">{% trans 'Cancelar' %}</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block scripts %}
    {{ form.media.js }}
    <script src="{% static 'js/bootstrap.fd.js' %}"></script>
    <script type="text/javascript">
        $(function(){
            $('.adjuntos').on('click',function(e){
                var key = $(e.target).attr('id');
                key = key.substr(key.length-6, 6);

                $.FileDialog({
                    title: '{% trans 'Subir archivos' %}',
                    ok_button: '{% trans 'Aceptar' %}',
                    cancel_button: '{% trans 'Cerrar' %}',
                    drag_message: '{% trans 'Arrastre los archivos aquí' %}',
                    error_message: '{% trans 'Se ha producido un error al leer el archivo' %}',
                    remove_message: '{% trans 'Eliminar fichero' %}',
                    accept: '*',
                    dropheight: 100,
                    multiple: true,
                 }).on('files.bs.filedialog', function(ev) {
                    uploadFiles({{ nota.id }}, ev.files, '{{ csrf_token }}');
                }).on('cancel.bs.filedialog', function(ev) {
                });
            });
        });
    </script>
    {% include 'web/nota/_editores_js.html' %}
{% endblock scripts %}
