{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block titlehead %}{% trans 'Eliminar Nota' %}{% endblock titlehead %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'listanota' %}">Notas</a>
    </li>
{% endblock breadcrumb %}

{% block breadcrumb_active %}
    {% trans 'Nota' %}
{% endblock breadcrumb_active %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <form action="" method="post" enctype="multipart/form-data" role="form" id="formulario">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <h3 class="panel-title">{% trans 'Borrar Nota' %}</h3>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-warning">
                            <strong>{% trans 'Atención!' %}</strong> {% trans 'Va a proceder a borrar una Nota' %}.
                        </div>
                        <p>{% trans '¿Seguro que desea eliminar la nota' %}?: <b>{{ nota }} ({{ nota.libro }})</b></p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-danger" href="{% url 'listanota' %}">
                            <i class="fa fa-ban"></i>
                            {% trans 'Cancelar' %}
                        </a>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check"></i>
                            {% trans 'Aceptar' %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}