{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block titlehead %}{% trans 'Enviar Nota' %}{% endblock titlehead %}
{% block title %}{% endblock title %}

{% block styles %}
    {{ form.media.css }}
    <link href="{% static 'summernote-0.8.9/dist/summernote.css' %}" rel="stylesheet">
    <style>
    </style>
{% endblock styles %}

{% block breadcrumb %}
    <li><a href="{% url 'listanota' %}">Notas</a></li>
{% endblock breadcrumb %}

{% block breadcrumb_active %}
    {% trans 'Enviar Nota' %}
{% endblock breadcrumb_active %}

{% block content %}

<div class="row hidden-on-load">
    <div class="col-md-12">
        <form action="" method="post" enctype="multipart/form-data" role="form" id="id_formulario">
            {% csrf_token %}
            {{ form.mensaje }}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans 'Enviar Nota' %}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form.para.errors }}
                                <label for={{form.para.auto_id}} class="control-label">
                                {{ form.para.label }}
                                {% if form.para.field.required %}<span class="required_fields">*</span>{% endif %}
                                </label>
                                {{ form.para }}
                                {% if form.para.help_text %}
                                <p class="help-block">{{ form.para.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form.cc.errors }}
                                <label for={{form.cc.auto_id}} class="control-label">
                                {{ form.cc.label }}
                                {% if form.cc.field.required %}<span class="required_fields">*</span>{% endif %}
                                </label>
                                {{ form.cc }}
                                {% if form.cc.help_text %}
                                <p class="help-block">{{ form.cc.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form.asunto.errors }}
                                <label for={{form.asunto.auto_id}} class="control-label">
                                {{ form.asunto.label }}
                                {% if form.asunto.field.required %}<span class="required_fields">*</span>{% endif %}
                                </label>
                                {{ form.asunto }}
                                {% if form.asunto.help_text %}
                                <p class="help-block">{{ form.asunto.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{ form.mensaje.label }}</label>
                                <div id='id_editor'>{{ nota.texto|default:'<p>Nuevo texto.</p>'|safe }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary btn-normal">
                        <i class="glyphicon glyphicon-send"></i> {% trans 'Enviar' %}
                    </button>
                    <a class="btn btn-default btn-normal" href="{% url 'listanota' %}">{% trans 'Cancelar' %}</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block scripts %}
    {{ form.media.js }}
    <script src="{% static 'summernote-0.8.9/dist/summernote.js' %}"></script>
    <script src="{% static 'summernote-0.8.9/dist/lang/summernote-es-ES.js' %}"></script>
    <script type="text/javascript">
        $(function(){
            $('#id_editor').summernote({
                focus: true,
                tabsize: 4,
            });

            $('#id_formulario').submit(function(e) {
                var editorData = $('#id_editor').summernote('code');
                $('#id_mensaje').val(editorData);
            });
        });
    </script>
{% endblock scripts %}
