{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block titlehead %}{% trans 'Notas' %}{% endblock titlehead %}
{% block title %}{% trans 'Notas' %}{% endblock title %}

{% block header %}
{% endblock header %}

{% block styles %}
<style>
</style>
{% endblock styles %}

{% block nucleocentral %}
<div class="container-fluid">
<div class="row" style="max-width:500px; margin:auto;">
<div class="col-xs-12">
<h1 style="text-align:center;">Guia Markdown</h1>
<h4>Énfasis</h4>
<pre>**<strong>bold</strong>**
*<em>italics</em>*
~~<strike>strikethrough</strike>~~</pre>
<h4>Encabezados</h4>
<pre># Grande
## Medio
### Pequeño
#### Mini</pre>
<h4>Listas</h4>
<pre>* Lista generica
* Lista generica
* Lista generica

1. Lista ordenada
2. Lista ordenada
3. Lista ordenada</pre>
<h4>Enlaces</h4>
<pre>[Texto a mostrar](http://www.ejemplo.com)</pre>
<h4>Citas</h4>
<pre>> Esto es una cita.
> Y puede contener múltiples líneas</pre>
<h4>Imagenes &nbsp;</h4> 
<pre>![](http://www.ejemplo.com/imagen.png)</pre>
<h4>Tabla</h4>
<pre>|  A   |  B   |   C  |
| ---- | ---- | ---- |
|  A1  |  B1  |  C1  |
|  A2  |  B2  |  C2  |
</pre>
<h4>Código</h4>
<pre>`var ejemplo = "Hola Mundo";`

<em>O con múltiples líneas</em>

```
var ejemplo = "Hola Muno";
alert(ejemplo);
```</pre>
<br>
<br>
<br>
</div>
</div>
</div>
{% endblock nucleocentral %}

