{% extends 'web/login.html' %}
{% load static %}
{% load i18n %}

{% block titlehead %}{% trans 'Restablecida' %}{% endblock titlehead %}

{% block nucleocentral %}
    <div class="form-signin">
        <div class="text-center mb-4">
            <img class="mb-4" id="logo-login" src="{% static 'images/logo-notas.png' %}" alt=""  height="150">
            <h1 class="h3 mb-3 font-weight-normal">{% translate "Contraseña Restablecida" %}</h1>
        </div>

        <div class="form-floating mb-12">
            <div class="p-4 p-md-8 border bg-light">
                <p>{% trans "Contraseña Restablecida correctamente" %}</p>
                <hr class="my-4">
                <p>
                    {% trans 'Su contraseña ha sido establecida.' %}
                </p>
                <p>
                    {% trans 'Ahora puede continuar e iniciar ' %}
                     <a class="text-secondary link-login" href="{% url 'login' %}" style="font-size: 100%;">
                         {% trans "sesión" %}
                     </a>.
                </p>
            </div>
        </div>
    </div>
{% endblock nucleocentral %}

{% block scripts %}
{% endblock scripts %}
