{% extends 'web/login.html' %}
{% load static %}
{% load i18n %}

{% block titlehead %}{% trans 'Recordar' %}{% endblock titlehead %}

{% block nucleocentral %}
    <form class="form-signin" method="post" action="">
        {% csrf_token %}
        <div class="text-center mb-4">
            <img class="mb-4" id="logo-login" src="{% static 'images/logo-notas.png' %}" alt=""  height="150">
            <h1 class="h3 mb-3 font-weight-normal">{% translate "Recordar contraseña" %}</h1>
        </div>

        <div class="form-label-group">
            {{ form.email }}
            <label for={{form.email.auto_id}}>{{ form.email.label }}</label>
            {{ form.email.errors }}
        </div>

        <button id="id_submit" class="btn btn-lg btn-primary btn-block" type="submit">Aceptar</button>

        <p>
        <div class="text-right">
            <a class="text-secondary link-login" href="{% url 'login' %}">Volver a acceso</a>
        </div>
    </form>
{% endblock nucleocentral %}

{% block scripts %}
{% endblock scripts %}
