{% extends 'web/login.html' %}
{% load static %}
{% load i18n %}

{% block titlehead %}{% trans 'Restablecer' %}{% endblock titlehead %}

{% block nucleocentral %}
    {% if validlink %}
        <form class="form-signin" method="post" action="">
            {% csrf_token %}
            <div class="text-center mb-4">
                <img class="mb-4" id="logo-login" src="{% static 'images/logo-notas.png' %}" alt=""  height="150">
                <h1 class="h3 mb-3 font-weight-normal">{% translate "Restablecer contraseña" %}</h1>
                <a class="text-secondary link-login" href="{% url 'reset_password' %}">Recordar contraseña</a>
            </div>

            <p>{% translate "Por favor introduzca su nueva contraseña dos veces para verificar que la teclea correctamente." %}</p>
            <br>
            <div class="form-floating mb-3">
                <input type="password" name="new_password1" autocomplete="new-password" class="form-control"
                       placeholder="{% translate 'Nueva Contraseña' %}" required="" id="id_new_password1"
                >
                <div class="input-group">{{ form.new_password1.errors }}</div>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="new_password2" autocomplete="new-password" class="form-control"
                       placeholder="{% translate 'Confirme la Contraseña' %}" required="" id="id_new_password2"
                >
                <div class="input-group">{{ form.new_password2.errors }}</div>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">
                {% trans "Cambiar mi contraseña"%}
            </button>
            <p>
            <div class="text-right">
                <a class="text-secondary link-login" href="{% url 'login' %}">Volver a acceso</a>
            </div>
        </form>
    {% else %}
        <div class="p-4 p-md-5 border rounded-3 bg-light">
            <p>{% translate "El enlace de restablecer la contraseña no era válido, posiblemente porque ya se usó. Solicite nuevamente restablecer la contraseña." %}</p>
            <hr class="my-4">
            <small class="text-muted">
                {% trans "Puede volver a pedir otro enlace para restablecerla " %}
                <a href="{% url 'reset_password' %}">{% trans "aquí" %}</a>.
            </small>
        </div>
    {% endif %}
{% endblock nucleocentral %}

{% block scripts %}
{% endblock scripts %}
