/* botones */
@font-face {
    font-family: 'sk-modernistbold';
    src: url('fonts/sk-modernist-bold-webfont.woff2') format('woff2'),
         url('fonts/sk-modernist-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.float-logo {
    top: 20px;
    left: 20px;
    position: fixed;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #EDEBEB;
    text-align: center;
}

.btn {
    font-family: 'sk-modernistbold';
}

#id_editor {
    background-color: white;
}

.hidden-on-load {
    display:none;
}

/* Campos obligatorios */
.required_fields {
    color: #dc3545;
    font-weight: bold;
}


/* Error validator */
label.error {
    color: #ba2121;
    font-weight: normal;
}


/* Error label */
ul.errorlist {
    color: #ba2121;
    padding: 0 0 0 15px;
}


/* Error message */
.alert-error {
    color: #fff;
    background-color: #dc3545;
}

