{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block header %}
{% endblock header %}

{% block styles %}
<link href="{% static 'simplemde/dist/simplemde.min.css' %}" rel="stylesheet">
<style>
</style>
{% endblock styles %}

{% block nucleocentral %}
    <textarea id="id_editor"></textarea>
{% endblock nucleocentral %}

{% block footer %}
{% endblock footer %}

/* https://github.com/sparksuite/simplemde-markdown-editor/blob/master/src/js/simplemde.js */
{% block scripts %}
    <script src="{% static 'simplemde/dist/simplemde.min.js' %}"></script>
    <script>
        var param = window.location.search.substring(1);
        var nota_id = param.substring(0, 6);
        var btn_grabar = param.substring(6);
        if (btn_grabar == 'no_btn_grabar') { btn_grabar = false; } else { btn_grabar = true; }

        var height = Math.max($(document).height(), $(window).height()) - 110;

        var simplemde = new SimpleMDE({
            element: document.getElementById("id_editor"),
            toolbar: [{
                        name: "grabar",
                        action: function customFunction(editor){
                            var texto = editor.value();
                            var url = '/getdatos_ajax/graba_nota_texto';
                            var param = {nota_id: nota_id, texto: texto};
                            funcionAjax(url, param, function(data){
                               alert('Documento guardado.');
                            });
                        },
                        className: "fa fa-save",
                        title: "Grabar",
                       },
                      "|",
                       {
                        name: "adjuntos",
                        action: function customFunction(editor){
                            parent.MuestraAdjuntos(nota_id);
                        },
                        className: "fa fa-paperclip",
                        title: "Adjuntos",
                       },
                      "|",
                        {
                            name: "bold",
                            action: SimpleMDE.toggleBold,
                            className: "fa fa-bold",
                            title: "Bold",
                            default: true
                        },

                        {
                            name: "italic",
                            action: SimpleMDE.toggleItalic,
                            className: "fa fa-italic",
                            title: "Italic",
                            default: true
                        },

                        {
                            name: "strikethrough",
                            action: SimpleMDE.toggleStrikethrough,
                            className: "fa fa-strikethrough",
                            title: "Strikethrough"
                        },
                        {
                            name: "heading",
                            action: SimpleMDE.toggleHeadingSmaller,
                            className: "fa fa-header",
                            title: "Heading",
                            default: true
                        },
                        {
                            name: "heading-smaller",
                            action: SimpleMDE.toggleHeadingSmaller,
                            className: "fa fa-header fa-header-x fa-header-smaller",
                            title: "Smaller Heading"
                        },
                        {
                            name: "heading-bigger",
                            action: SimpleMDE.toggleHeadingBigger,
                            className: "fa fa-header fa-header-x fa-header-bigger",
                            title: "Bigger Heading"
                        },
                        {
                            name: "heading-1",
                            action: SimpleMDE.toggleHeading1,
                            className: "fa fa-header fa-header-x fa-header-1",
                            title: "Big Heading"
                        },
                        {
                            name: "heading-2",
                            action: SimpleMDE.toggleHeading2,
                            className: "fa fa-header fa-header-x fa-header-2",
                            title: "Medium Heading"
                        },
                        {
                            name: "heading-3",
                            action: SimpleMDE.toggleHeading3,
                            className: "fa fa-header fa-header-x fa-header-3",
                            title: "Small Heading"
                        },
                       "|",
                        {
                            name: "code",
                            action: SimpleMDE.toggleCodeBlock,
                            className: "fa fa-code",
                            title: "Code"
                        },
                        {
                            name: "quote",
                            action: SimpleMDE.toggleBlockquote,
                            className: "fa fa-quote-left",
                            title: "Quote",
                            default: true
                        },
                        {
                            name: "unordered-list",
                            action: SimpleMDE.toggleUnorderedList,
                            className: "fa fa-list-ul",
                            title: "Generic List",
                            default: true
                        },
                        {
                            name: "ordered-list",
                            action: SimpleMDE.toggleOrderedList,
                            className: "fa fa-list-ol",
                            title: "Numbered List",
                            default: true
                        },

                        {
                            name: "clean-block",
                            action: SimpleMDE.cleanBlock,
                            className: "fa fa-eraser fa-clean-block",
                            title: "Clean block"
                        },

                        "|",
                        {
                            name: "link",
                            action: SimpleMDE.drawLink,
                            className: "fa fa-link",
                            title: "Create Link",
                            default: true
                        },
                        {
                            name: "image",
                            action: SimpleMDE.drawImage,
                            className: "fa fa-picture-o",
                            title: "Insert Image",
                            default: true
                        },
                        {
                            name: "table",
                            action: SimpleMDE.drawTable,
                            className: "fa fa-table",
                            title: "Insert Table"
                        },
                        {
                            name: "horizontal-rule",
                            action: SimpleMDE.drawHorizontalRule,
                            className: "fa fa-minus",
                            title: "Insert Horizontal Line"
                        },
                        "|",
                        {
                            name: "preview",
                            action: SimpleMDE.togglePreview,
                            className: "fa fa-eye no-disable",
                            title: "Toggle Preview",
                            default: true
                        },
                        {
                            name: "side-by-side",
                            action: SimpleMDE.toggleSideBySide,
                            className: "fa fa-columns no-disable no-mobile",
                            title: "Toggle Side by Side",
                            default: true
                        },
                        /*{
                            name: "fullscreen",
                            action: SimpleMDE.toggleFullScreen,
                            className: "fa fa-arrows-alt no-disable no-mobile",
                            title: "Toggle Fullscreen",
                            default: true
                        },*/
                        "|",
                        {
                            name: "guide",
                            action: "https://simplemde.com/markdown-guide",
                            className: "fa fa-question-circle",
                            title: "Markdown Guide",
                            default: true
                        },
                        "|",
                        {
                            name: "undo",
                            action: SimpleMDE.undo,
                            className: "fa fa-undo no-disable",
                            title: "Undo"
                        },

                        {
                            name: "redo",
                            action: SimpleMDE.redo,
                            className: "fa fa-repeat no-disable",
                            title: "Redo"
                        },
                     ],

            styleSelectedText: false,
            tabSize: 4,
        });

        if (typeof parent.editorGetContent !== 'undefined') {
            const editorGetContent = new Function('return simplemde.value();');
            parent.editorGetContent = editorGetContent;
        }

        $(document).ready(function(){
            var url = '/getdatos_ajax/lee_nota_texto';
            var param = {nota_id: nota_id};
            funcionAjax(url, param, function(data){
                simplemde.value(data);
            });
        });
    </script>
{% endblock scripts %}